language: java
dist: precise

jdk:
  - openjdk7
  - oraclejdk7
  - oraclejdk8

script:
  - mvn clean install jacoco:report coveralls:jacoco

addons:
   hosts:
       - travis
   hostname: travis

before_script:
  - pip install --user codecov

after_success:
  - codecov
